<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.trail-simulator.tunneld</string>

    <key>ProgramArguments</key>
    <array>
        <string>__VENV_PYTHON__</string>
        <string>-m</string>
        <string>pymobiledevice3</string>
        <string>remote</string>
        <string>tunneld</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>10</integer>

    <key>StandardOutPath</key>
    <string>/var/log/trail-simulator/tunneld.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/trail-simulator/tunneld.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
